*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    width: 100%;
}
.container {

    display: grid;
    grid-template-columns: 33,33%;
    grid-template-rows: 33,33%;

}
.container > * {
    
    border: 1px solid black;
    text-align: center;
    
}
.header{
    background-color: #22DDEE;
    display: flex;
}
.header header img {
    display: flex;
    justify-content: right;

}
.titulo  {
    position: relative;
    left: 68%;
    top:-45%;
    
}
.menuhorizontal {
   
   text-align:end;
   list-style-type:none;
   position: relative;
}
.menuhorizontal li {
    display: flex;
    display: inline-block;
    text-decoration: none;
    padding-left: 20%;
    position: relative;
    left: 68%;

}
.menuhorizontal a {
  
    
    
}


.banner section article {
    display: inline-block;
    padding: 50px;
}
.productos section div {
    display: inline-block;
    padding: 50px;

}

footer {
    background-color:#22DDEE ;
}

    

.ubicacion {
      text-align: center;
}
.sociales li {
    display: flex;
    display: inline-block;
    
    
}
.sociales li > a {
    
   padding: 100px;

}