*{
    margin: 0;
    padding: 0;
  }

.titulo{
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color:  rgba(252, 182, 159, 1);
    border: 1px;
    text-align: center;
}
.titulo2{
    left: 0px;
    top: 0px;
    background-color: rgba(252, 182, 159, 1);
    border: 1px;
    text-align: center;
}
.parrafo{
    width: 1440px;
    height: 3388px;
    display: flex ;
    order: 0;
    flex-grow: 0;

}
.container{
    width: 1440px;
    height: 3388px;    
    border: 1px solid hsba(15, 37%, 99%, 1)
    font-family: 'bodonin libre';
    flex: none;
    order: 0;
    flex-grow: 0;
}
.casillas{
    flex: none;
    order: 0;
    flex-grow: 0;
  
    
}