*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    background: #22DDEE;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0 10px 0;
}

header img{
    width: 15%;
    margin: 0px 50px 0px 70px; /*Arriba, Derecha, Abajo Izquierda*/
}

header div{
    text-align: center;
    margin-right: 300px;
}

header h1{
    margin-top: 10px;
    color: white;
    font-size: 50px;
}

header h2{
    font-size: 20px;
    color: #0602CD; 
}

nav {
    background-color: #22DDEE;
}

nav li{
    display: inline-block;
    margin: 0 0 0 300px; /*Separación de las lista de la nav*/

}

nav a{
    text-transform: uppercase;
    color: white;  /*Color letras*/
    font-weight: bold;
    font-size: 20px;
    text-decoration: none; /*Quita el subrayado de la barra de navegación*/
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

/*Fin Barra Navegación*/


 main{
    width: 940px;
    margin: 0 auto;
    padding: auto;
} 


/* Sección */
.SeccionEncabezado{
    margin-top: 50px;
    padding: auto;
    text-align: center;
    margin-bottom: 20px;
}

/* Sección + Título */
.SeccionEncabezado .tituloseccion{
    margin-top: 30px;
    color: #0602CD; 
    font-weight: bold;
    font-size: 50px;  
}

.SeccionEncabezado p{
    /* margin-top: 10px; */
    margin: 10px 100px 50px 100px; /*Arriba, Derecha, Abajo Izquierda*/
    color: #22DDEE; 
    text-align: justify;
    font-weight: lighter;
    font-size: 30px;  
}

.SeccionEncabezado .Fondo{
    width: 80%;

}

.SeccionEncabezado .subtituloseccion{
    margin-top: 30px;
    color: #0602CD; 
    font-weight: bold;
    font-size: 30px;  
}

/* Contenedor Usando GRID*/

.contenedor_productos{
    width: 940px;
    margin: 0 auto;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 30% 30% 30%; */
    grid-template-rows: auto; 
    gap: 1em;
    text-align: center;

}

.contenedor_productos div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor_articulo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; 
    justify-items: center;
    border: 2px solid black;
    gap: 5px;
    background-color: white;
    border-radius: 15px;

}

.contenedor_articulo:hover{
    border-color: aquamarine;
    
}

.contenedor_articulo h3{
    font-size: 30px;
    font-weight: bold;
} 

.contenedor_articulo:hover h3{
font-size: 50px;    
}

/*Fin de titulo y subtitulo de las secciones de las mascotas*/

/*Tamaño de las imágenes referentes a los productos*/
.articulo{
    height: 200px;
    width: 200px;
}

/*Fin de las caracterisitcas de las imagenes*/

/*Artículos - Productos que se venden*/

.articulos{
    width: 940px;
    margin: 0 auto;
    padding: auto;
}

.articulos li{
    display: inline-block;
    text-align: center;
    width: 30%; /*Cada elemento ocupa el 30% de la pagina*/
    vertical-align: top;
    /*background-color: aqua;*/
    margin: 0 1.5%;
    padding: 30px 20px; /*Espaciamiento de los elementos*/
    box-sizing: border-box; /*Borde de cada uno de los elementos los 20 px no son contabilizados en el 30%*/
    /*Se definen propiedades de borde*/
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    border: 2px solid black;
    /*Se configuran los bordes*/
    /*border-top(bottom)-left(right)-radius: 10px*/
    /*border-radius: 20px 50px 20px 80px;*/
    border-radius: 15px;
    margin-bottom: 20px;
}

.articulos li:hover{
    border-color: aquamarine;
}

.articulos h3{
    font-size: 30px;
    font-weight: bold;
} 

/*Permite modificar el tamaño de la seleccion*/
 .articulos li:hover h3{
    font-size: 40px;
}

.descripcion-producto{
    font-size: 20px;
}

.precio-producto{
    font-size: 30px;
    font-weight: bold;
    margin-top: auto;
}

.Btn_comprar{
    display: block;  /*Para poder ponerle margen al boton*/
    width: 70px;
    background-color: #22DDEE ;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 80px;
    padding-right: 80px;
    color: black;
    text-decoration: none; /*Quita el subrayado del enlace del botón*/  
}




/*Configuracion boton formulario*/
.Btn_comprar:hover{
    background-color: #FCB69F;
}
/* Estilos del Formulario */



/*Pie de página*/

footer{
    text-align: center;
    background: #22DDEE;
    padding-top: 0;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.logo_footer{
    width: 10%;
    padding-bottom: 0px;
}

.textofooter{
    padding-bottom: 0px;
}

.redessociales{
    width: 70%;
    padding: auto;
    
} 

.redessocialesimg{
    width: 940px;
    margin: 0px 180px;
}


.redessocialesimg li{
    display: inline-block;
    width: 5%; 
    vertical-align: top; 
    padding: 0px; /*Espaciamiento de los elementos*/
   
}

