*{

        margin: 0;
        padding: 0;
        box-sizing: border-box
        
        
}
body {
    width: 100%;
}
header {
    
    background-color: #22DDEE;

}
.header{
    background-color: #22DDEE;
    display: flex;
}
.header header img {
    display: flex;
    justify-content: right;

}
.titulo  {
    position: relative;
    left: 68%;
    top:-45%;
    
}
.titulo h2 {
    position: relative;
    left: 9%;
}

.navbar {
    display: flex;
    background-color:  #22DDEE;
    justify-content: center;
    justify-content: space-between;
    
}
.navbar a {
    color:black ;
    padding: 14px 20px;
    text-decoration: none;
    
    
}
.navbar a:hover {
    background-color: blanchedalmond;
}
.informacion-grupo {
    text-align: center;
    font-size: 20px;
}
.contenedor2 {
   
    display: flex;
}
.perfil {
    width: 33%;
    height: auto;
    border-radius: 3%;
    background-color: #22DDEE;
    text-align: center;
    align-items: center;
    padding: 0.5%;
    margin-right: 10%;
}
.perfil__foto {
    width: 70%;
    border-radius: 50%;
}
@media (min-width: 1199.98px)  {
    body{background: red;}
}
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}


@media screen and (max-width: 480px) {
 .contenedor2{
    flex-direction: column;
    
 }
 .perfil {
    width: 100%;
 }
 .informacion-grupo {
    background-color: #22DDEE;
    border-radius: 5%;
    margin: 2%;

 }
 .navbar {
    flex-direction: column;
}
.navbar a {
    display: flex;
    justify-content: center;
}   
}